<div class="bottle-card" id="collagen-bottle">
  <div class="bottle-card-img">
    <div class="overlay-bottle">
      <p>
        Collagen V12
      </p>
      <p>
        Better hair, younger skin, stronger nails and more energy with our Marine Collagen V12 drink.
      </p>
    </div>
    {{
      "bottle-collagen.png" | asset_url | img_tag: "combo bottle joint support"
    }}
  </div>
  <div class="bottle-card-info">
    <p>Collagen V12</p>
    <p class="tags">Organic, Immune, Health, Drink</p>
    {{ "stars.svg" | asset_url | img_tag: "starts" }}
  </div>
  <div class="button-container bottle-container">
    <a
      href="/products/collagen-v12-with-added-vitamins"
      class="theme-button large purple"
      >BUY NOW</a
    >
  </div>
</div>
