<div class="bottle-card" id="collagen-bottle">
  <div class="bottle-card-img">
    <div class="overlay-bottle">
      <p>Ingredients</p>
      <ul>
        <li>Responsibly Sourced Fish</li>
        <li>Gluten Free</li>
        <li>Fat Free</li>
        <li>Dairy Free</li>
      </ul>
      <p>Contains Fish</p>
      <p>
        Pure multi-filtered Swedish water for the best absorption of collagen,
        vitamins, nutrients and hydrolyzed collagen; contains the amino acids
        L-arginine, L-glycine, L-proline, BCAA: L-leucine, L-Isoleucine,
        L-valine, L-alanine, L-hydroxyproline, L-glutamic acid, L-aspartic acid,
        L serine, L- lysine, L-threonine, L-phenylalanine, L-hydroxylysine,
        L-methionine, L-histidine, L-tyrosine, L-cysteine and fructose,
        saccharose, ascorbic acid, taste, xanthan gum, color,
        preservative(potassium sorbate, sodium benzoate), hyaluronic acid,
        Vitamin B5 (pantothenaat), Vitamin B6 (pyridoxine hcl), Vitamin B7
        Biotin, Vitamin B12 (methylcobalamin), coppergluconate, silica, citric
        acid, stevia (steviol glycoside)
      </p>
    </div>
    {{
      "bottle-collagen.png" | asset_url | img_tag: "combo bottle joint support"
    }}
  </div>
  <div class="bottle-card-info">
    <p>Collagen V12</p>
    {{ "stars.svg" | asset_url | img_tag: "starts" }}
    <p class="tags">
      Discover the secret behind plumper skin, stronger nails and thicker hair
      with our Marine Collagen V12 type I & III collagen remedy.
    </p>
  </div>
  <div class="button-container bottle-container">
    <p>Starting From £20.99</p>
    <a
      href="/products/collagen-v12-with-added-vitamins"
      class="theme-button large purple"
      >BUY NOW</a
    >
  </div>
</div>
