<div class="bottle-card" id="collagen-bottle">
  <div class="bottle-card-img">
    <div class="overlay-bottle">
      <p>
        Get the immune-supporting, antioxidant benefits of these multi vitamins
        with natural citrus flavonoids*
      </p>
      <p>
        Multi vitamins include 150 tablets each containing a vitamin boost which
        really packs a punch. From vitamin C to B12 with bioflavonoids from
        oranges, optimizes the beneficial effects of vitamin C by replicating
        the way it’s found in nature – in the presence of flavonoids.
      </p>
    </div>
    {{
      "bottle-collagen.png" | asset_url | img_tag: "combo bottle joint support"
    }}
  </div>
  <div class="bottle-card-info">
    <p>Collagen V12 with added vitamins</p>
    <p class="tags">Organic, Immune, Health, Drink</p>
    {{ "stars.svg" | asset_url | img_tag: "starts" }}
  </div>
  <div class="button-container bottle-container">
    <a
      href="/products/collagen-v12-with-added-vitamins"
      class="theme-button large purple"
      >BUY NOW</a
    >
  </div>
</div>
