<header class="header-hover-container ">
  <a href="/" class="logo">
    {{ 'combo-shot-logo.svg' | asset_url | img_tag: 'combo shot logo','combo-shot-logo' }}
  </a>
  <div class="header-right">
    <div class="header-hover-container">
      <a href="" class="hover-btn">About Combo Shot </a>
      <a href="" class="hover-btn-mobile"> </a>
      <a href="" class="hover-btn-close"> </a>
      <div class="header-hover-background"></div>
      <div class="header-hover">
        <ul>
          <li class="hover-links">
            <a href="/pages/what-is-collagen"> What is collagen </a>
          </li>
          <li class="hover-links">
            <a href="/pages/ultravitamin"> Ultravitamin + </a>
          </li> 
          <li class="hover-links"> 
            <a href="/pages/how-combo-shot-works"> How Combo Shot Works </a>
          </li>
        </ul>
        <div class="all_products-mobile">
          <a class="theme-button green" href="/pages/choose-product"
            >Online Shop</a
          >
        </div>
      </div>
    </div>

    <div class="all_products">
      <a class="theme-button green" href="/pages/choose-product">Online Shop</a>
    </div>
    <a
      href="https://uk.trustpilot.com/review/comboshot.com"
      class="trust-pilot"
    >
      {{ 'trustpilot-rating.svg' | asset_url | img_tag: 'trustpilot rating','trustpilot-rating' }}
    </a>
  </div>
</header>