<header class="header light">
  <a href="/">
    {{ 'combo-shot-logo-light.svg' | asset_url | img_tag: 'combo shot logo','combo-shot-logo' }}
  </a>
  <div class="all_products">
    <a class="theme-button green" href="/pages/choose-product"
      >Online Shop</a
    >
  </div>
  <a href="https://uk.trustpilot.com/review/comboshot.com">
    {{ 'trustpilot-rating-light.svg' | asset_url | img_tag: 'trustpilot rating','trustpilot-rating' }}
  </a>
</header>
