<header class="header">
  <a href="/">
    {{ 'combo-shot-logo-light.svg' | asset_url | img_tag: 'combo shot logo','combo-shot-logo' }}
  </a>
  <a href="https://uk.trustpilot.com/review/comboshot.com">
    {{ 'trustpilot-rating-light.svg' | asset_url | img_tag: 'trustpilot rating','trustpilot-rating' }}
  </a>
</header>
