<div class="bottle-card" id="joint-bottle">
  <div class="bottle-card-img">
    <div class="overlay-bottle">
      <p>Joint Support & muscle enhancement</p>
      <p>
        Ease joint pain, enhance muscle and feel energised with our Joint
        Support drink.
      </p>
    </div>
    {{ "bottle-joint.png" | asset_url | img_tag: "combo bottle joint support" }}
  </div>
  <div class="bottle-card-info">
    <p>Joint Support</p>
    <p class="tags">Organic, Immune, Health</p>
    {{ "stars.svg" | asset_url | img_tag: "starts" }}
  </div>
  <div class="button-container bottle-container">
    <a
      href="/products/joint-support-with-added-vitamins"
      class="theme-button large blue"
      >BUY NOW</a
    >
  </div>
</div>
