<div class="bottle-card" id="joint-bottle">
  <div class="bottle-card-img">
    <div class="overlay-bottle">
      <p>Ingredients</p>
      <p>
        Pure multi-filtered water for best uptake of collagen, vitamins and
        nutrients, sweetener (crystalline fructose), hydrolyzed collagen
        (contains the amino acids: L-glycine, L-proline, L-alanine,
        L-hydroxyproline, L-glutamic acid, L-arginine, L-aspartic acid,
        L-serine, L-lysine, L-leucine, L-valine, L-threonine, L-phenylalanine,
        L-isoleucine, L-hydroxylysine, L-methionine, L-histidine, L-tyrosine,
        L-tyrosine, L-cysteine), acidity regulator (malic acid, citric acid),
        methylsulfonylmethane, glucosamine sulfate, chondrotin sulfate,
        l-carnitine, ascorbic acid, freshness preserver (potassium sorbate,
        sodium benzoate), flavor (natural fruit), colour (natural purple potato
        extract), emulsifier (xanthan gum), turmeric, green tea powder,
        sweetener (stevoil glycosides), cholecalciferol, cyanocobalamin. Natural
        flavor and colour.
      </p>
    </div>
    {{ "bottle-joint.png" | asset_url | img_tag: "combo bottle joint support" }}
  </div>
  <div class="bottle-card-info">
    <p>Joint Support</p>
    {{ "stars.svg" | asset_url | img_tag: "starts" }}
    <p class="tags">Begin to ease joint pain, stiff bones and help towards muscle gain with our Joint Support type II collagen remedy.</p>
  </div>
  <div class="button-container bottle-container">
      <p>Starting From £20.99</p>
    <a
      href="/products/joint-support-with-added-vitamins"
      class="theme-button large blue"
      >BUY NOW</a
    >
  </div>
</div>
