<div class="bottle-card" id="joint-bottle">
    <div class="bottle-card-img">
      <div class="overlay-bottle">
        <p>Ingredients</p>
        <ul>
            <li>Responsibly Sourced Fish</li>
            <li>Gluten Free</li>
            <li>Fat Free</li>
            <li>Dairy Free</li>
          </ul>
          <p>Contains Fish</p>
          <p>
            Pure multi-filtered Swedish water for the best absorption of collagen,
            vitamins, nutrients and hydrolyzed collagen; contains the amino acids
            L-arginine, L-glycine, L-proline, BCAA: L-leucine, L-Isoleucine,
            L-valine, L-alanine, L-hydroxyproline, L-glutamic acid, L-aspartic acid,
            L serine, L- lysine, L-threonine, L-phenylalanine, L-hydroxylysine,
            L-methionine, L-histidine, L-tyrosine, L-cysteine and fructose,
            saccharose, ascorbic acid, taste, xanthan gum, color,
            preservative(potassium sorbate, sodium benzoate), hyaluronic acid,
            Vitamin B5 (pantothenaat), Vitamin B6 (pyridoxine hcl), Vitamin B7
            Biotin, Vitamin B12 (methylcobalamin), coppergluconate, silica, citric
            acid, stevia (steviol glycoside)
          </p>
      </div>
      {{ "kids-multivitamin.png" | asset_url | img_tag: "combo bottle collagen glo" }}
    </div>
    <div class="bottle-card-info">
      <p>Kids Multivitamin</p>
      {{ "stars.svg" | asset_url | img_tag: "starts" }}
      <p class="tags">Combo Shot Kids Multivitamin+ is expertly formulated for children aged 5-12 years.</p>
    </div>
    <div class="button-container bottle-container">
        <p>Starting From £19.98</p>
      <a
        href="/products/kids-multivitamin"
        class="theme-button large orange"
        >BUY NOW</a
      >
    </div>
</div>