<div class="bottle-card" id="ultra-bottle">
  <div class="bottle-card-img">
    <div class="overlay-bottle">
      <p>
        Ultra Vitamin+
      </p>
      <p>
        Build up your defence with the Ultra Vitamin+ drink. Includes 52 essential vitamins for immune system support.
      </p>
    </div>
    {{ "bottle-ultra.png" | asset_url | img_tag: "combo bottle joint support" }}
  </div>
  <div class="bottle-card-info">
    <p>Ultra Vitamin+</p>
    <p class="tags">Organic, Immune, Health, Tablet</p>
    {{ "stars.svg" | asset_url | img_tag: "starts" }}
  </div>
  <div class="button-container bottle-container">
    <a href="/products/ultra-vitamins-shot" class="theme-button large bronze"
      >BUY NOW</a
    >
  </div>
</div>
