<div class="bottle-card" id="ultra-bottle">
  <div class="bottle-card-img">
    <div class="overlay-bottle">
      <p>Ingredients</p>
      <p class="green">Suitable for Vegans</p>
      <p>100% Natural flavours and colours.</p>
      <p>
        Multi Filtered water, natural fruit juice mixture from concentrate;
        orange, apple, mandarin, guava, papaya, lime, mango, pineapple, grape,
        sweetener: (sucrose, steviol glycosides), l-ascorbic acid, magnesium
        gluconate, potassium citrate, calcium gluconate, choline-1-bitartrate,
        dl-alpha tocopherol, zinc gluconate, ginseng extract panax ca meyer,
        caffeine anhydrous, d-calcium pantothenate, thiamine hcl, riboflavin,
        nicotinamide, inositol, 72 trace minerals (sea, vegan), pyridoxine hcl,
        plant based amino acids: (l - glycine, l-proline, l-alanine, glutamine,
        l-arginine, l-lysine, l-leucine, l-valine, l-isoleucine, l-taurine),
        manganese gluconate, lutein, 4-aminobenzoic acid, ubiquinone, chromium
        picolinate, freshness preserver (potassium sorbate, sodium benzoate),
        zeaxanthin extract, natural flavour: (natural orange), citrus
        bioflavonoids, psyllium extract, alfalfa extract, broccoli extract,
        spirulina, ashwagandha, aloe vera extract, green tea extract, green
        coffee bean extract, grape seed extract, lycopene extract, lecithin
        extract, acidity regulator (citric acid), cholecalciferol (vegan, from
        lichen), cyanocobalamin, folic acid, d-biotin, potassium iodide, sodium
        selenite, molybdenum, menaquinone, retinyl acetate.
      </p>
    </div>
    {{ "bottle-ultra.png" | asset_url | img_tag: "combo bottle joint support" }}
  </div>
  <div class="bottle-card-info">
    <p>Ultra Vitamin+</p>
    {{ "stars.svg" | asset_url | img_tag: "starts" }}
    <p class="tags">Defend the immune system and give your body an energised boost with our Ultra Vitamin + drink.</p>
  </div>
  <div class="button-container bottle-container">
    <p>Starting From £13.49</p>
    <a href="/products/ultra-vitamins-shot" class="theme-button large bronze"
      >BUY NOW</a
    >
  </div>
</div>
