<div class="bottle-card">
  <div class="bottle-card-img">
    <div class="overlay-bottle">
      <p>
        Get the immune-supporting, antioxidant benefits of these multi vitamins
        with natural citrus flavonoids*
      </p>
      <p>
        Multi vitamins include 150 tablets each containing a vitamin boost which
        really packs a punch. From vitamin C to B12 with bioflavonoids from
        oranges, optimizes the beneficial effects of vitamin C by replicating
        the way it’s found in nature – in the presence of flavonoids.
      </p>
    </div>
    {{ "bottle-ultra.png" | asset_url | img_tag: "combo bottle joint support" }}
  </div>
  <div class="bottle-card-info">
    <p>Ultra vitamins+ Shot</p>
    <p class="tags">Organic, Immune, Health, Tablet</p>
    {{ "stars.svg" | asset_url | img_tag: "starts" }}
  </div>
</div>
