{% if product.url %}
  <section class="all-bottles">
    <div class="all-bottles-header">
      <h2 class="all-bottles-title">On its own</h1>
      <p class="all-bottles-sub-text">
        Don't fancy a package? Find the bottle which best suits your health needs.</span>
      </p>
    </div>
    <div class="bottles-container bottles-container-slider">
      {% include '1-joint-bottle' %} 
      {% include '1-collagen-bottle' %}
      {% include '1-ultra-bottle' %}
      {% include '1-glo-bottle' %}
      {% include '1-kids-multivitamin-bottle' %}
    </div>
    <div class="button-container buy-now-container">
      <button class="theme-button large blue top">BUY NOW</button>
    </div>
  </section>
{% endif %}

{% if page.url == "/pages/choose-product" %}
  <section class="all-bottles">
    <div class="all-bottles-header">
      <h2 class="all-bottles-title">On its own</h1>
      <p class="all-bottles-sub-text">
        Don't fancy a package? Find the bottle which best suits your health needs.</span>
      </p>
    </div>
    <div class="bottles-container">
      {% include '1-joint-bottle' %} 
      {% include '1-collagen-bottle' %}
      {% include '1-ultra-bottle' %}
      {% include '1-glo-bottle' %}
      {% include '1-kids-multivitamin-bottle' %}
    </div>
    <div class="button-container buy-now-container">
      <button class="theme-button large blue top">BUY NOW</button>
    </div>
  </section>
{% endif %}