<footer class="footer-section">
  <div class="footer-logo-container">
    {{ 'combo-shot-logo.svg' | asset_url | img_tag: 'combo shot logo','footer-logo-img' }}
  </div>
  <ul class="footer-social-links">
    {% include '1-social-links' %}
  </ul>
    <div class="legal-links">
      <a href="/policies/refund-policy">Refund Policy</a>
      <a href="/policies/privacy-policy">Privacy Policy</a>
      <a href="/policies/terms-of-service">Terms of Service</a>
    </div>
  <div class="footer-other-links"> 
    <a href="https://uk.trustpilot.com/review/comboshot.com">
      {{ 'trustpilot-footer.svg' | asset_url | img_tag: 'trustpilot rating','trustpilot-footer' }}
    </a>
    <p>DEVELOPED BY - <a href="https://opopmedia.co.uk"><span>OPOP</span>MEDIA</a></p>
  </div> 
  <div class='bussines'>
    <p>PJW SERVICES (MANCHESTER) LIMITED, 76 Market Street, Farnworth,Bolton, Lancashire, United Kingdom, BL4 7NY. Company number 11541025.</p>
  </div>
  </div> 
</footer>
