<section class="all-bottles">
  <div class="bottles-container">
    {% include '1-joint-bottle' %} 
    {% include '1-collagen-bottle' %} 
    {% include '1-ultra-bottle' %}
  </div>

  <div class="button-container">
    <button class="theme-button top large blue">BUY NOW</button>
  </div>
</section>
