{% include '1-header-light' %}
<!-- <div class="shape"></div> -->
<div class="home-hero">
  <div class="home-hero-left">
    <div class="home-header">
      <h1 class="home-title">
        The Ultimate Anti-Ageing Care Package Has Landed
      </h1>
      <p class="home-text">
        All of your essential health needs in one brilliant hydrolysed kit.
      </p>
    </div>
    <div class="find-btn-container">
      <a href="/pages/questions" class="theme-button purple"
        >FIND YOUR PERFECT PACKAGE</a
      >
    </div>
  </div>
  <div class="home-hero-right">
    {{ "all-Boxes.png" | asset_url | img_tag }}
  </div>
</div>
