<section id="about">
  <div class="about-header">
    <h1>What is combo shot?</h1>
    <p>Who are we and how can we help you become healthier and feel good!</p>
  </div>
  <div class="about-content">
    <div class="fact">
      <p>
        Immune-supporting, antioxidant benefits of these multi vitmains with
        natural citrus flavonoids*
      </p>
      <p>
        Multi vitamin shot includes vitamin boosting properties which really
        pack a punch. From vitamin C to B12 with bioflavonoids from oranges,
        optimizes the beneficial effects of vitamin C by replicating the way
        it’s found in nature — in the presence of flavonoids
      </p>
    </div>
    <div class="fact">
      <p>
        Immune-supporting, antioxidant benefits of these multi vitmains with
        natural citrus flavonoids*
      </p>
      <p>
        Multi vitamin shot includes vitamin boosting properties which really
        pack a punch. From vitamin C to B12 with bioflavonoids from oranges,
        optimizes the beneficial effects of vitamin C by replicating the way
        it’s found in nature — in the presence of flavonoids
      </p>
    </div>
    <div class="fact">
      <p>
        Immune-supporting, antioxidant benefits of these multi vitmains with
        natural citrus flavonoids*
      </p>
      <p>
        Multi vitamin shot includes vitamin boosting properties which really
        pack a punch. From vitamin C to B12 with bioflavonoids from oranges,
        optimizes the beneficial effects of vitamin C by replicating the way
        it’s found in nature — in the presence of flavonoids
      </p>
    </div>
  </div>
  <div class="button-container">
    <a href="/pages/questions" class="theme-button large blue">FIND YOUR PERFECT PACKAGE</a>
  </div>
</section>
