{% include '1-header-hover' %}
<!-- <div class="shape"></div> -->
<div class="home-hero">
  <div class="home-hero-left">
    <div class="home-header">
      <h1 class="home-title">
        The Ultimate Anti-Ageing Care Package Has Landed
      </h1>
      <p class="home-text">
        All of your essential health needs in one brilliant hydrolysed kit.
      </p>
    </div>
    <div class="img_container">
      {{ "all-bottles.png" | asset_url | img_tag }}
      <div class="mobile">
        {{ "mobile-all-bottles.png" | asset_url | img_tag }}
      </div>
    </div>
    <div class="find-btn-container">
      <a href="/pages/questions" class="theme-button large blue blink">
        FIND YOUR PERFECT PACKAGE
      </a>
      <a href="pages/choose-product" class="theme-button large">
        Visit our Shop
      </a>
    </div>
  </div>
</div>
