<footer class="footer-section">
  <div class="footer-logo-container">
    {{ 'combo-shot-logo.svg' | asset_url | img_tag: 'combo shot logo','footer-logo-img' }}
  </div>
  <ul class="footer-social-links">
    {% include '1-social-links' %}
  </ul>

  <div class="footer-other-links"> 
    {{ 'trustpilot-footer.svg' | asset_url | img_tag: 'trustpilot rating','trustpilot-footer' }}
      <p>DEVELOPED BY - <a href="https://opopmedia.co.uk"><span>OPOP</span>MEDIA</a></p>
    </div> 
  </div> 
</footer>
