<section id="questions">
  <div class="question-header">
    <h1>FIND YOUR PERFECT CARE PACKAGE</h1>
    <p>
      To help us find the perfect package for you, let us get to know you
      better.
    </p>
  </div>
  {% include '1-progress' %}
  <div class="step-container step-1">
    <div class="step-question">
      <p>Do you struggle with sore joints after exercise or in daily life?</p>
    </div>
    <div class="step-awnser" data-question1="">
      <button class="next">yes</button>
      <button class="next">no</button>
    </div>
  </div>
  <div class="step-container step-2 d-none">
    <div class="step-question">
      <p>
        Do you struggle/worry about if you are getting the correct vitamin
        intake?
      </p>
    </div>
    <div class="step-awnser" data-question2="">
      <button class="next">yes</button>
      <button class="next">no</button>
    </div>
  </div>
  <div class="step-container step-3 d-none">
    <div class="step-question">
      <p>Are you looking for any of the following?</p>
      <ul>
        <li>Younger, firmer looking skin.</li>
        <li>Stronger, healthier nails.</li>
        <li>Silky smooth hair.</li>
      </ul>
    </div>
    <div class="step-awnser" data-question3="">
      <button class="next open-modal">yes</button>
      <button class="next open-modal">no</button>
    </div>
    <!-- <div class="find-btn-container center">
      <a href="#" class="theme-button blue"
        >FIND YOUR PERFECT PACKAGE</a
      >
    </div> -->
  </div>
</section>
