<section class="all-bottles">
  <div class="all-bottles-header">
    <h2 class="all-bottles-title">Choose your health bottle</h1>
    <p class="all-bottles-sub-text">
      Browse through our selection of bottles and find the one which best suits your health needs, from one month <span>to an annual package.</span>
    </p>
  </div>
  <div class="bottles-container">
    {% include '1-joint-bottle' %} 
    {% include '1-collagen-bottle' %}
    {% include '1-ultra-bottle' %}
  </div>
  <div class="button-container buy-now-container">
    <button class="theme-button large blue">BUY NOW</button>
  </div>
</section>
