<section id="ultravitamin-strength">
  <div id="bg">
  </div>
  <div class="border-container">
    <div class="ultravitamin-strength-container">
      <div class="ultravitamin-strength-container-1">
        <h3>extra strong vitamin d for extra defence</h3>
        <p>
          Combo Shot Ultra Vitamin+ has double the recommended daily vitamin D
          intake in one serving with 1200 International Units (IU) per 15ml.*
        </p>
        <p>
          The number one ranked hospital, Mayo Clinic, says having consistent
          levels of vitamin D significantly lowers the risk of developing
          bone-thinning disease Osteoporosis.
        </p>
        <p>
          *Mayo Clinic advises that adults should consume a minimum of 600 IU of
          vitamin D per day.
        </p>
      </div>
      <div class="ultravitamin-strength-container-2">
        <p>
          A British Medical Journal (BMJ) study states that taking regular doses
          of vitamin D can help boost defences against current viruses
        </p>
      </div>
      <div class="ultravitamin-strength-container-3">
        <h3>Micronutrients backed by Harvard</h3>
        <p>
          Combo Shot Ultra Vitamin+ contains the 5 main micronutrients which are
          essential for maintaining immune function.
        </p>
        <ul>
          <li>Vitamin B6</li>
          <li>Vitamin C</li>
          <li>Vitamin E</li>
          <li>Magnesium</li>
          <li>Zinc</li>
        </ul>
        <p style="font-weight: bold; margin-top: 20px">
          This is also backed up by Harvard, the most prestigious medical school
          in the world.
        </p>
        <a href="/pages/choose-product#shopify-section-1-Combo-all-packages"
          ><button class="theme-button large green top">
            FIND YOUR PERFECT PACKAGE
          </button></a
        >
      </div>
      <div class="ultravitamin-strength-container-4">
        <img src="{{ 'white-col.png' | asset_img_url: '' }}" alt="collagen" />
      </div>
    </div>
  </div>
</section>
