<section id="sciency-hero">
    <div class="border-container">
        <div class="sciency-hero-container">
            <h1 class="sciency-hero-container-header">
                HOW <span>COMBO SHOT</span> WORKS
            </h1>

            <p class="sciency-hero-container-text">
                What’s the difference between older skin and younger skin?
            </p>

            <ul class="sciency-hero-container-list">
                <li>Younger skin is a lot more thicker compared to older skin; </li>
                <li>Older skin has less collagen and elastin along with less hyaluronic acid which commences wrinkle production</li>
                <li>Combo Shot’s unique formula helps boost collagen production because it contains glycine and proline which are important for elastin formulation.</li>
            </ul>
            <a href="/pages/choose-product#shopify-section-1-Combo-all-packages"><button class="theme-button large blue top">FIND YOUR PERFECT PACKAGE</button></a>
        </div>
    </div>
    <div class="border-ellipse">
        {% comment %} <img src={{pink-arrow-down.svg}}> <img/> {% endcomment %}
    </div>
</section>