<section id="sciency-bit-how">
    <div class="border-container sciency-bit-how-container">
        <h2 class="sciency-bit-how-container-header">
            How do you take combo shot?
        </h2>

        <div class="sciency-bit-how-container-info">
            <div class="sciency-bit-how-container-info-1" >
                <h3>
                    COLLAGEN V12
                </h3>
                <p>
                    All you need is one 25ml capful of Collagen V12 per day to achieve beautiful skin, hair and nails. 
                </p>
                <p>
                    Packed with 10,000mg of Hydrolysed Marine Collagen per serving along with Hyaluronic acid in a great tasting berry flavour
                </p>
            </div>
            <div class="sciency-bit-how-container-info-2">
                <h3>
                    JOINT SUPPORT
                </h3>
                <p>
                    Just 15ml per day of Joint Support is all you’ll need to help toughen up your bones and cartilage and aid joints. 
                </p>
                <p>
                    Packed with 6,000mg of Hydrolysed Collagen per serving along with Hyaluronic acid in a great tasting berry flavour
                </p>
            </div>
            <div class="sciency-bit-how-container-info-3">
                <h3>
                    None of the bad stuff
                </h3>
                <p>
                    All of Combo Shot’s collagen drinks include the most naturally sourced ingredients available. Our secret formula is developed to ISO - GMP standards.
                </p>
                <p>
                    No dairy, No fat, No gluten, No sugar, No soy, No egg, No artificial flavours, No artificial colours, No GMO, No lactose.
                </p>
            </div>
            <div class="sciency-bit-how-container-info-4">
                <img src="{{ 'combo-duo.png' | asset_img_url: '' }}" />
            </div>
        </div>
    </div>
</section>