<div class="header-logos">
  {{ 'combo-shot-logo.svg' | asset_url | img_tag: 'combo shot logo','combo-shot-logo' }}
  {{ 'trustpilot-rating.svg' | asset_url | img_tag: 'trustpilot rating','trustpilot-rating' }}
 </div>
 <h1 class="premium-title-mobile">PREMIUM PACKAGE</h1>
  <div class="hero-section">
    <div class="hero-left">
      <div class="premium-header">
        <h1 class="premium-title">PREMIUM PACKAGE</h1>
        <p class="premium-price"><strong>£29.99 per month</strong></p>
      </div>
      <p class="premium-text">
        Our incredible premium package gives you the beauty of <strong>Collagen V12</strong> 
        with the daily <strong>joint support</strong> serum and our <strong>health boosting vitamins</strong> 
        for an all round premium daily package, keeping you <strong>healthy beautiful and young.</strong>
      </p>
      <button class="buy-btn">BUY NOW</button>
    </div>
  </div>