<section id="three-stages">
    <div class="border-container three-stages-container">

        <h3 class="three-stages-container-header">
            The three-stage process to getting a younger look is simple:
        </h3>

        <p class="three-stages-container-sub-header">
            This is how Combo Shot travels into the skin, hair, nails and joints, along with other parts of your body. 
        </p>

        <div class="three-stages-container-grid">
            <div class="three-stages-container-grid-1">
                <img src="{{ 'icon-droplet.png' | asset_img_url: '' }}" alt="three stage img">
                <p>
                    Hydrolysed collagen is absorbed on consumption and during the process of hydrolysis, 
                    the super collagen molecule is broken down into miniature fragments – called peptides.
                </p>
            </div>
            <div class="three-stages-container-grid-2">
                <img src="{{ 'icon-intestine.png' | asset_img_url: '' }}" alt="three stage img">
                <p>
                    The peptides are then small enough to be easily absorbed through the intestine and then into the bloodstream.
                </p>
            </div>
            <div class="three-stages-container-grid-3">
                <img src="{{ 'icon-cells.png' | asset_img_url: '' }}" />
                <p>
                    Collagen peptides then enter the bloodstream and are 
                    distributed throughout the body, similarly to other nutrients absorbed from food.
                </p>
            </div>
        </div>
    </div>
</section>