<section id="what-makes-better">
    <div class="border-container what-makes-better-container">
        <h2 class="what-makes-better-container-header">
            So, what makes hydrolysed collagen better?
        </h2>
        <p class="what-makes-better-container-sub-header">
            Hydrolysed collagen is known to be more effective than collagen products which are made only of glycine, proline and hydroxyproline.
        </p>
        <div class="what-makes-better-container-info">
            <div class="what-makes-better-container-info-1">
                <h4>
                    Marine collagen
                </h4>
                <p>
                    Combo Shot Collagen V12 uses type I and III hydrolysed marine collagen peptides which is collected from ethically farmed fish skin which breaks down into small collagen chains. This process is called hydrolysis and results in collagen peptides.
                </p>
            </div>
            <div class="what-makes-better-container-info-2">
                <h4>
                    Joint Collagen
                </h4>
                <p>
                    Combo Shot Joint Support uses mainly type II hydrolysed collagen peptides which derives from animal cartilage, a safe and natural source which, like marine collagen, are broken down via enzymatic hydrolysis into highly digestible and bioavailable proteins.                </p>
            </div>
        </div>
    </div>
</section>