<div class="header-logos">
  {{ 'combo-shot-logo.svg' | asset_url | img_tag: 'combo shot logo','combo-shot-logo' }}
  {{ 'trustpilot-rating.svg' | asset_url | img_tag: 'trustpilot rating','trustpilot-rating' }}
 </div>
  <div class="bronze-hero-section">
    <div class="hero-left">
      <div class="premium-header">
        <h1 class="bronze-title">BRONZE PACKAGE</h1>
        <p class="premium-price"><strong>£16.99 per month</strong></p>
      </div>
      <p class="premium-text">
        Our incredible premium package gives you the beauty of <strong>Collagen V12</strong> and our <strong>health 
        boosting vitamins</strong> for an all round great package, keeping you <strong>healthy beautiful and young.</strong>
      </p>
      <button class="buy-btn yellow">BUY NOW</button>
    </div>
  </div>