<section id="what-is-combo-hero">
    <div class="border-container">
        <div class="what-is-container">
            <h1 class="what-is-container-header">
                What is <span>collagen?</span>
            </h1>

            <p class="what-is-container-text">
                Nearly 80% of the main component in our skin is collagen; think of collagen as the glue that binds our body together. 
                Collagen is naturally produced by the body, but as we get older, this then starts to deter which is the cause behind developing wrinkles and fine lines.
            </p>

            <ul class="what-is-container-list">
                <li>Collagen reduces in our late 20’s</li>
                <li>The rate of decline is 1.5% per year.</li>
                <li>By the age of 60, most men and women have lost 80% of their collagen levels.</li>
            </ul>
            <a href="/pages/packages"><button class="theme-button large blue top">FIND YOUR PERFECT PACKAGE</button></a>
        </div>
        <div class="border-ellipse">
            {% comment %} <img src={{pink-arrow-down.svg}}> <img/> {% endcomment %}
        </div>
    </div>
</section>