<section class="reviews-section">
    <div class="reviews-content">
        <h1 class="reviews-header">REVIEWS</h1>
        <div class="reviews-group">
            <div class="review-container">
                <div class="review-text">
                    <div class="rating">
                        {{ 'trust-stars.svg' | asset_url | img_tag: '5 star trustpilot rating','trust-stars-img' }}
                        <p class="trust-time">10 hours ago</p>
                    </div>
                    <p class="reivew-title"><strong>The results are AMAZING!</strong></p>
                    <p class="review-paragraph">
                        One of the best most amazing subscription services for health care anywhere!
                    </p>
                    <p class="review-name">
                        Angela Kerr
                    </p>
                </div>
            </div>
            <div class="review-container">
                <div class="review-text">
                    <div class="rating">
                        {{ 'trust-stars.svg' | asset_url | img_tag: '5 star trustpilot rating','trust-stars-img' }}
                        <p class="trust-time">25 hours ago</p>
                    </div>
                    <p class="reivew-title"><strong>Perfect service</strong></p>
                    <p class="review-paragraph">
                        Perfect service.
                    </p>
                    <p class="review-name">
                        Freya Moon
                    </p>
                </div>
            </div>
            <div class="review-container">
                <div class="review-text">
                    <div class="rating">
                        {{ 'trust-stars.svg' | asset_url | img_tag: '5 star trustpilot rating','trust-stars-img' }}
                        <p class="trust-time">2 days ago</p>
                    </div>
                    <p class="reivew-title"><strong>GREAT!!</strong></p>
                    <p class="review-paragraph">
                        I feel that most health products are gimiky but not the products from combo shot!
                        cannot recommend enough.
                    </p>
                    <p class="review-name">
                        Ciara Hays
                    </p>
                </div>
            </div>
        </div>
        <div class="review-average">
            <p class="review-average-text">Rated <strong>4.8</strong> out of 5 based on <strong><span class="review-underline">747 reviews</span></strong> on</p>
            {{ 'trust-logo-small.svg' | asset_url | img_tag: 'trust pilot','trust-average-img' }}
        </div>
        <div class="buy-btn-container">
            <button class="buy-btn blue">BUY NOW</button>
        </div>
    </div>
</section>