
<section id="why-start-drinking">
  <div id="bg">
  </div>
  <div class="border-container">
    <h2 class="why-start-header">
      Why should you start taking a daily collagen drink?
    </h2>
    <p class="why-start-sub-header">
      Combo Shot powers up your skin, hair, nails and joints, allowing you to
      regain a more youthful glow.
    </p>

    <div class="swap-me-container">
      <div class="swap-me-container-text">
        <p>swap me</p>
      </div>
      <div class="swap-me-container-btn">
        <button class="btn-collagen" id="btn-active-collagen">
          COLLAGEN V12
        </button>
        <button class="btn-joint-support">JOINT SUPPORT</button>
      </div>
    </div>
    <div class="content-container">
      <div class="collagen-info" id="toggle">
        <img
          src="{{ 'collagen-img-wic.png' | asset_img_url: '' }}"
          class="mobile-img"
        />
        <div class="collagen-info-1">
          <div>
            <h3>
              By drinking Combo Shot <span>Collagen V12</span>, it can help to:
            </h3>
            <ul>
              <li>
                Boost the body’s collagen levels and slow down the structural
                decline of the skin, hair and nails and improve their state to a
                healthier look.
              </li>
              <li>
                Stimulate the creation of collagen and hyaluronic acid in our
                bodies to decrease the speed of ageing.
              </li>
            </ul>
          </div>
          <div>
            <h3>What’s in a <span>dose</span>?</h3>
            <p class="bold-p">A <span>25ml</span> capful of Combo Shot <span>Collagen V12</span> contains:</p>
            <p>
              A staggering 10,000mg of pure marine collagen (over one and a half
              times the daily 6,000mg amount of collagen peptides needed to
              trigger cells responsible for collagen production activity)
            </p>
          </div>
        </div>
  
        <!-- <div class="collagen-info-2">
          <img src="{{ 'collagen-img-wic.png' | asset_img_url: '' }}" />
  
          <h3>THE RESULT</h3>
          <p>
            Hydrolysed collagen is absorbed faster and more easily than other
            forms of ingestible collagen, meaning your desired results happen
            quicker.
          </p>
          <p>
            With one capful a day of Combo Shot, you can expect to see visible
            results in just 2 weeks with the recommended daily amount on the
            bottle.
          </p>
        </div> -->
      </div>
  
      <div class="joint-info" id="">
        <div class="joint-info-1">
          <img
            src="{{ 'collagen-img-wic.png' | asset_img_url: '' }}"
            alt="collagen"
            class="mobile-img"
          />
          <div>
            <h3>
              By drinking Combo Shot <span>Joint Support</span> Collagen, it can
              help to:
            </h3>
            <ul>
              <li>
                Support and help aid pain from sore joints, bones and cartilage.
              </li>
              <li>
                Support and help aid pain from sore joints, bones and cartilage.
              </li>
              <li>
                Enhance muscle mass with the inclusion of branched-chain amino
                acids which are key towards the development of bodily muscles.
              </li>
            </ul>
          </div>
          <div>
            <h3>What’s in a <span>dose</span>?</h3>
            <p class="bold-p">A <span>15ml</span> capful of Combo Shot <span>Joint Support</span> collagen contains:</p>
            <p>
              An impressive 6,000mg of type II collagen (the amount the body needs
              to trigger cells responsible for collagen production activity)
            </p>
          </div>
        </div>
      </div>
      <div class="info">
        <img
          src="{{ 'collagen-img-wic.png' | asset_img_url: '' }}"
          alt="collagen"
        />
        <div>
          <h3>THE RESULT</h3>
          <p>
            Hydrolysed collagen is absorbed faster and more easily than other
            forms of ingestible collagen, meaning your desired results happen
            quicker.
          </p>
          <p>
            With one capful a day of Combo Shot, you can expect to see visible
            results in just 2 weeks with the recommended daily amount on the
            bottle.
          </p>
        </div>
      </div>
    </div>
    <div class="btn-container">
      <a href="/pages/choose-product#shopify-section-1-Combo-all-packages" class="theme-button large green"
        >FIND YOUR PERFECT PACKAGE</a 
      >
    </div>
  </div>
</section>
