<section class="info-section">
    <div class="bronze-info-content">
      <h1 class="info-title">WHAT ARE THE BENFITS?</h1>
      <div class="info-button-container">
        <button class="bronze-btn package-btn active-tab">BRONZE PACKAGE</button>
        <a href="/pages/premium-package"><button class="premium-btn package-btn">PREMIUM PACKAGE</button></a>
        <a href="/pages/gold-package"><button class="gold-btn package-btn">GOLD PACKAGE</button></a>
      </div>
      <div class="package-info">
        <div class="box-img-container">
          {{ 'bronze-box.png' | asset_url | img_tag: 'gold box','box-img' }}
        </div>
        <div class="info-text-container">
          <div class="info-text">
            <h2 class="info-header">JOINT SUPPORT</h2>
            <p class="info-paragraph">
              Keep your joints young and healthy with our amazing new joint support serum. Joints feel 
              looser and stronger after just one week!
            </p>
          </div>
          <div class="info-text">
            <h2 class="info-header">IMMUNE BOOSTING VITAMINS</h2>
            <p class="info-paragraph">
              From vitamin C to B12 with bioflavonoids from oranges, optimizes the beneficial effects of 
              vitamin C by replicating the way it’s found in nature – in the presence of flavonoids
            </p>
          </div>
        </div>
      </div>
    </div>
</section>