<section id="ultravitamin-fruitful">
    <div class="border-container">
        <div class="fruitful-container">
            <h3 class="fruitful-container-header">
                KEEP YOUR BODY FRUITFUL
            </h3>
            <p>
                Ultra Vitamin+ uses the best fruits that contain the most essential vitamins and minerals
            </p>

            <div class="fruitful-container-info">
                <ul>
                    <li><span>Apple: &nbsp;</span>Vitamin A, B1, B2, B6, C</li>
                    <li><span>Mandarin: &nbsp;</span>Vitamin A, Vitamin C</li>
                    <li><span>Orange: &nbsp;</span>Vitamin C</li>
                    <li><span>Mango: &nbsp;</span>Vitamin A, Vitamin C, Vitamin E</li>
                    <li><span>Lime: &nbsp;</span>Vitamin B6, C</li>
                    <li><span>Pineapple: &nbsp;</span>Vitamin A, Vitamin C</li>
                    <li><span>Guava: &nbsp;</span>Vitamin C</li>
                    <li><span>Grape: &nbsp;</span>Vitamin C</li>
                    <li><span>Papaya: &nbsp;</span>Vitamin A, Vitamin C</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="btn-container">
        <a href="/pages/choose-product#shopify-section-1-Combo-all-packages"><button class="theme-button large green top">FIND YOUR PERFECT PACKAGE</button></a>
    </div>
</section>