<div class="header-logos">
  {{ 'combo-shot-logo.svg' | asset_url | img_tag: 'combo shot logo','combo-shot-logo' }}
  {{ 'trustpilot-rating.svg' | asset_url | img_tag: 'trustpilot rating','trustpilot-rating' }}
 </div>
  <div class="premium-care-hero-section">
    <div class="hero-left">
      <div class="premium-header">
        <h1 class="premium-title">PREMIUM PACKAGE</h1>
        <p class="premium-price"><strong>From £79.98 per month</strong></p>
      </div>
      <p class="premium-text">
        Our incredible premium package gives you the beauty of <strong>Collagen V12</strong> 
        with the daily <strong>joint support</strong> serum and our <strong>health boosting vitamins</strong> 
        for an all round premium daily package, keeping you <strong>healthy beautiful and young.</strong>
      </p>
      <a href="https://combo-shot.myshopify.com/cart/36960323305621:1"><button class="buy-btn blue">BUY NOW</button></a>
    </div>
  </div>