<section class="info-section">
    <div class="collagen-info-content">
      <h1 class="info-title">WHAT ARE THE BENFITS?</h1>
      <div class="info-button-container">
        <button class="joint-btn package-btn">JOINT SUPPORT</button>
        <button class="premium-btn package-btn">PREMIUM PACKAGE</button>
        <button class="collagen-btn package-btn active-tab">COLLAGEN CARE</button>
      </div>
      <div class="package-info">
        <div class="box-img-container">
          {{ 'collagen-box.png' | asset_url | img_tag: 'collagen box','box-img' }}
        </div>
        <div class="info-text-container">
          <div class="info-text">
            <h2 class="info-header">SKIN CARE</h2>
            <p class="info-paragraph">
              Collagen V12 is the number one leading collagen in the UK with 10 out of 10 people saying 
              they could see result after as little as one week! Boosted with vitamins B12 and D to give 
              your skin a healthy young feel and look.
            </p>
          </div>
          <div class="info-text">
            <h2 class="info-header">IMMUNE BOOSTING VITAMINS</h2>
            <p class="info-paragraph">
              From vitamin C to B12 with bioflavonoids from oranges, optimizes the beneficial effects of 
              vitamin C by replicating the way it’s found in nature – in the presence of flavonoids
            </p>
          </div>
        </div>
      </div>
    </div>
</section>