<section id="ultravitamin-hero">
    <div class="border-container">
        <div class="ultravitamin-container">
            <h2 class="ultravitamin-container-header">
                THE  ULTRA PROTECTION FOR YOUR BODY
            </h2>
            <p class="container-text">
                Combo Shot Ultra Vitamin+  offers you 52 vital vitamins and minerals in one simple vegan drink to give your immune system the ultimate protection. 
            </p>
            <a href="/pages/packages"><button class="theme-button large blue top">FIND YOUR PERFECT PACKAGE</button></a>
         </div>
    </div>
</section>