<section id="ultravitamin-recharge">
    <div id="bg">
    </div>
    <div class="border-container">
        <div class="recharge-container">
            <div class="recharge-container-info-1">
                <div>
                    <h2>
                        Recharge into life!
                   </h2>
                   <p>
                        Combo Shot Ultra Vitamin+ contains important electrolytes. Electrolytes are salts that we take into our body that 
                        dissolve into positively and negatively charged ions. These are crucial for controlling the flow of water in our cells 
                        and nerve impulses. The main electrolytes are:
                   </p>
                   <ul>
                       <li>
                           Magnesium
                       </li>
                       <li>
                           Calcium
                       </li>
                       <li>
                           Sodium
                       </li>
                       <li>
                           Potassium
                       </li>
                   </ul>
                   <p>
                        A lack of these in our bodies could cause cells to shrivel up or burst. Positive ions run through the nerve cells which sparks 
                        electrical impulses to allow our body to function  properly.
                   </p>
                </div>
                <img src="{{ 'water-droplet.png' | asset_img_url: ''}}" alt="water droplet">
            </div>
            <div class="recharge-container-info-2">
                <h2>
                    Keep your metabolism healthy
                </h2>
                <p>
                    Ultra Vitamin+ contains taurine, which plays an essential role in metabolism and digestion, as it helps the liver to create bile salts.
                    Bile salts help break down fatty acids in the intestines.
                </p>
                <div class="btn-container">
                    <a href="/pages/choose-product#shopify-section-1-Combo-all-packages"><button class="theme-button large green top">FIND YOUR PERFECT PACKAGE</button></a>
                </div>
            </div> 
        </div>
    </div>
</section>