<div class="header-logos">
    {{ 'combo-shot-logo.svg' | asset_url | img_tag: 'combo shot logo','combo-shot-logo' }}
    {{ 'trustpilot-rating.svg' | asset_url | img_tag: 'trustpilot rating','trustpilot-rating' }}
</div>
<section class="questions-hero-section">
    <div class="questions-header">
        <h1 class="questions-title">FIND YOUR PERFECT CARE PACKAGE</h1>
        <p class="questions-text">To help us find the perfect package for you, let us get to know you better.</p>
        <div class="number-group">
            <div class="number-container">
                <p class="number active-number">1</p>
            </div>
            <div class="number-container">
                <p class="number">2</p>
            </div>
            <div class="number-container">
                <p class="number">3</p>
            </div>
        </div>
        <p class="question">
            Do you struggle with sore joints, after exercise or in daily life?
        </p>
        <div class="question-answers">
            <div class="answer-btn-container">
                <button class="answer-btn">YES</button>
            </div>
            <div class="answer-btn-container">
                <button class="answer-btn">NO</button>
            </div>
        </div>
        <div class="about-btn-container">
            <a href="/pages/packages"><button class="find-btn blue">FIND YOUR PERFECT PACKAGE</button></a>
        </div>
    </div>
</section>