<div class="header-logos">
    {{ 'combo-shot-logo.svg' | asset_url | img_tag: 'combo shot logo','combo-shot-logo' }}
    {{ 'trustpilot-rating.svg' | asset_url | img_tag: 'trustpilot rating','trustpilot-rating' }}
   </div>
<section class="about-hero-section">
    <div class="about-header">
        <h1 class="about-title">WHAT IS COMBO SHOT?</h1>
        <p class="about-text">Who are we and how can we help you become healthier and feel good?</p>
    </div>
    <div class="about-content">
        <div class="details-container">
            <p class="details-title">
                <strong>
                    Immune-supporting, antioxidant benefits of these multi 
                    vitmains with natural citrus flavonoids*
                </strong>
            </p>
            <p class="details-text">
                Multi vitamin shot includes vitamin boosting properties which really pack a punch. 
                From vitamin C to B12 with bioflavonoids from oranges, optimizes the beneficial effects 
                of vitamin C by replicating the way it’s found in nature — in the presence of flavonoids
            </p>
        </div>
        <div class="details-container">
            <p class="details-title">
                <strong>
                    Immune-supporting, antioxidant benefits of these multi 
                    vitmains with natural citrus flavonoids*
                </strong>
            </p>
            <p class="details-text">
                Multi vitamin shot includes vitamin boosting properties which really pack a punch. 
                From vitamin C to B12 with bioflavonoids from oranges, optimizes the beneficial effects 
                of vitamin C by replicating the way it’s found in nature — in the presence of flavonoids
            </p>
        </div>
        <div class="details-container">
            <p class="details-title">
                <strong>
                    Immune-supporting, antioxidant benefits of these multi 
                    vitmains with natural citrus flavonoids*
                </strong>
            </p>
            <p class="details-text">
                Multi vitamin shot includes vitamin boosting properties which really pack a punch. 
                From vitamin C to B12 with bioflavonoids from oranges, optimizes the beneficial effects 
                of vitamin C by replicating the way it’s found in nature — in the presence of flavonoids
            </p>
        </div>
    </div>
    <div class="about-btn-container">
        <a href="/pages/choose-product#shopify-section-1-Combo-all-packages"><button class="find-btn blue">FIND YOUR PERFECT PACKAGE</button></a>
    </div>
</section>