<div class="header-logos">
  {{ 'combo-shot-logo.svg' | asset_url | img_tag: 'combo shot logo','combo-shot-logo' }}
  {{ 'trustpilot-rating.svg' | asset_url | img_tag: 'trustpilot rating','trustpilot-rating' }}
 </div>
  <div class="gold-hero-section">
    <div class="hero-left">
      <div class="premium-header">
        <h1 class="gold-title">GOLD PACKAGE</h1>
      </div>
      <p class="premium-text">
        Our incredible premium package gives you the beauty of <strong>Collagen V12</strong> and our <strong>health 
        boosting vitamins</strong> for an all round great package, keeping you <strong>healthy beautiful and young.</strong>
      </p>
      <div class="gold-type-container">
        <div class="gold-type">
          <button class="gold-type-btn purple one-month">1 MONTH</button>
        </div>
        <div class="gold-type">
          <button class="gold-type-btn purple three-month">3 MONTHS</button>
        </div>
        <div class="gold-type">
          <button class="gold-type-btn purple one-year">1 YEAR</button>
        </div>
      </div>
      <button class="buy-btn purple">BUY NOW</button>
    </div>
  </div>