<section id="ultravitamin-hero">
  <div class="border-container">
    <div class="ultravitamin-container">
      <h2 class="ultravitamin-container-header">
        THE <span>ULTRA</span> PROTECTION FOR YOUR BODY
      </h2>
      <p class="container-text">
        Combo Shot Ultra Vitamin+ offers you 52 vital vitamins and minerals in
        one simple vegan drink to give your immune system the ultimate
        protection.
      </p>
      <a href="/pages/choose-product#shopify-section-1-Combo-all-packages"
        ><button class="theme-button large blue top">
          FIND YOUR PERFECT PACKAGE
        </button></a
      >
      <!-- <div class="border-ellipse">
                {% comment %} <img src={{pink-arrow-down.svg}}> <img/> {% endcomment %}
            </div> -->
    </div>
  </div>
</section>
