<div class="header-logos">
  {{ 'combo-shot-logo-light.svg' | asset_url | img_tag: 'combo shot logo','combo-shot-logo' }}
  {{ 'trustpilot-rating-light.svg' | asset_url | img_tag: 'trustpilot rating','trustpilot-rating' }}
 </div>
  <div class="home-hero-section">
    <div class="home-hero-left">
      <div class="home-header">
        <h1 class="home-title">COMBO SHOT</h1>
        <p class="home-text">Your personal care package full of all your health needs.</p>
      </div>
      <p class="home-text">
        Our incredible premium package gives you the beauty of <strong>Collagen V12</strong> 
        with the daily <strong>joint support</strong> serum and our <strong>health boosting vitamins</strong> 
        for an all round premium daily package, keeping you <strong>healthy beautiful and young.</strong>
      </p>
      <div class="find-btn-container">
        <a href="/pages/packages"><button class="find-btn purple">FIND YOUR PERFECT PACKAGE</button></a>
      </div>
    </div>
    <div class="home-hero-right">
      {{ 'combo-packages.png' | asset_url | img_tag: 'Combo Shot Packages','combo-packages-img' }}
    </div>
  </div>