<section id="what-does-collagen">
    <div class="border-container what-does-collagen-container">
        <h2 class="what-does-collagen-container-header"> 
            How does collagen absorb into my bloodstream?
        </h2>
        <p class="what-does-collagen-container-sub-header">
            hyrdrolysed collagen is the best way to intake collagen properties to ensure up to a 95% absorbtion rate.
        </p>
        <img src="{{'flower-arm-mobile.png' | asset_img_url: ''}}" alt="flower arm for mobile" class="flower-arm-mobile">
        <div class="what-does-collagen-container-info">
            <h3>
                Collagen can absorb into the bloodstream in one way
            </h3>
            <p>
                The body can’t absorb collagen in its whole form, that’s why Combo Shot use a hydrolysed method in taking marine collagen.
            </p>
            <p>
                The enzymatic hydrolysis process breaks down the collagen into small, bioavailable components; the same as how our body breaks down food during the digestion period.
            </p>
            <div class='btn-container'>
                <a href="/pages/choose-product#shopify-section-1-Combo-all-packages" class="theme-button large green">
                    FIND YOUR PERFECT PACKAGE
                </a>
            </div>
        </div>
    </div>
</section>