<section id="sciency-bit">
    <div class="border-container">
        <h2 class="sciency-bit-header">
            THE <span>SCIENCEY</span> BIT
        </h2>
        <p class="sciency-bit-sub-header">
            Combo Shot powers up your skin, hair, nails and joints, allowing you to regain a more youthful glow.
        </p>

        <div class="swap-me-container">
            <div class="swap-me-container-text">
                <p>     
                    swap me
                </p>
            </div>
            <div class="swap-me-container-btn">
                <button class="btn-collagen" id="btn-active-collagen">
                    COLLAGEN V12
                </button>
                <button class="btn-joint-support" >
                    JOINT SUPPORT
                </button>
            </div>
        </div>
        <div class="collagen-info" id="toggle">

            <div class="collagen-info-1">
                <div>
                    <h3>
                        Which type of collagen is most prevalent? 
                    </h3>

                    <p>
                        Type 1 collagen is one of the most abundant molecules within the body, and it’s vital in the formation of;
                    </p>

                    <ul>
                        <li>
                        Bone
                        </li>
                        <li>
                            Skin
                        </li>
                        <li>
                            Connective tissue
                        </li>
                    </ul>

                    <p>
                        It’s an interstitial matrix collagen organised in fibrils, which are essential for the competence of tissues together with pores and skin and bones.
                    </p>

                    <p>
                        Hydrolysed collagen is more effective than other collagen products, which are made only of these 3 amino acids:
                    </p>

                    <ul>
                        <li>
                            Glycine
                        </li>
                        <li>
                            Proline
                        </li>
                        <li>
                            Hydroxyproline
                        </li>
                    </ul>
                    <p>
                        This effectiveness does not result in a complete collagen molecule. Without a complete molecule, our bodies do not absorb and transport enough collagen to the extracellular matrix.
                    </p>
                </div>
                <div>
                    <p>
                        By taking Combo Shot, you can reap the benefits of added hyaluronic acid, along with our type 1 and 3 formula to combat your skin, hair, nails and joints.
                    </p>
                    <ul id="tick-list">
                        <li>
                            Hyaluronic Acid improves skin hydration 
                        </li>
                        <li>
                            Anti-inflammatory properties with natural berry flavour 
                        </li>
                        <li>
                            Healthier looking hair, nails and skin 
                        </li>
                    </ul>
                </div>
            </div>

            <div class="collagen-info-2">
                
                <h3>
                    What is type 1 and 3 collagen?
                </h3>
                <p>
                    Type 1 and 3 collagen is the most plentiful collagen in the body. This type is the reason why skin stays elastic and firm. 
                </p>
                <h3>
                    How are type 1 and 3 collected?
                </h3>
                <p>
                    These types are collected from freshwater fish skin which is ethically sourced, and then used in hydrolysis. 
                    The collagen properties are then broken down into small collagen chains called peptides. This is what gives the name ‘hydrolysed collagen’.
                </p>
                    <img src="{{ 'sciency-bit-collagen.png' | asset_img_url: '' }}" />
            </div>
        </div> 

        <div class="joint-info" id="">

            <div class="joint-info-1">
                <div>
                    <h3>
                        Which type of collagen is most prevalent? 
                    </h3>

                    <p>
                        Type 1 collagen is one of the most abundant molecules within the body, and it’s vital in the formation of;
                    </p>

                    <ul>
                        <li>
                        Bone
                        </li>
                        <li>
                            Skin
                        </li>
                        <li>
                            Connective tissue
                        </li>
                    </ul>

                    <p>
                        It’s an interstitial matrix collagen organised in fibrils, which are essential for the competence of tissues together with pores and skin and bones.
                    </p>

                    <p>
                        Hydrolysed collagen is more effective than other collagen products, which are made only of these 3 amino acids:
                    </p>

                    <ul>
                        <li>
                            Glycine
                        </li>
                        <li>
                            Proline
                        </li>
                        <li>
                            Hydroxyproline
                        </li>
                    </ul>
                    <p>
                        This effectiveness does not result in a complete collagen molecule. Without a complete molecule, our bodies do not absorb and transport enough collagen to the extracellular matrix.
                    </p>
                </div>
                    <div>
                    <p>
                        By taking Combo Shot, you can reap the benefits of added hyaluronic acid, along with our type 1 and 3 formula to combat your skin, hair, nails and joints.
                    </p>
                    <ul id="tick-list">
                        <li>
                            Hyaluronic Acid improves skin hydration 
                        </li>
                        <li>
                            Anti-inflammatory properties with natural berry flavour 
                        </li>
                        <li>
                            Healthier looking hair, nails and skin 
                        </li>
                    </ul>
                </div>
            </div>

            <div class="joint-info-2">
                <h3>
                    What is type 2 collagen?
                </h3>
                <p>
                    Type 2 collagen is found on many joint surfaces inside the body and is key towards the formation of strong joints and healthy bones. 
                    50% of all protein in cartilage and 85–90% of collagen in articular (bone surface) cartilage is made up of type 2 collagen.
                </p>
                <h3>
                    How is type 2 collected?   
                </h3>
                <p>
                    This type is mostly collected from responsibly sourced chicken sternum cartilage. 
                    Some collagen type 2 can also derive from cows, otherwise known as bovine collagen.
                </p>
                <img src="{{ 'sciency-bit-joint.png' | asset_img_url: '' }}" />
            </div>
        </div>

        <div class='btn-container'>
            <a href="/products/ultra-vitamins-shot" class="theme-button large green"
                >FIND YOUR PERFECT PACKAGE</a>
        </div>
    </div>

</section>