<section class="bottles-section">
    <div class="bottles-content">
        <div class="bottles-group">
            <div class="bottle-container">
                {{ 'combo-bottle-2.png' | asset_url | img_tag: 'combo bottle joint support','combo-bottle-img' }}
                <div class="bottle-text">
                    <p class="bottle-name"><strong>Collagen V12 with added vitamins</strong></p>
                    <p class="bottle-properties">Oraganic, Immune, Health, Drink</p>
                    {{ 'stars.svg' | asset_url | img_tag: '5 star rating','stars-img' }}
                </div>
            </div>
            <div class="bottle-container">
                {{ 'combo-bottle-3.png' | asset_url | img_tag: 'combo bottle joint support','combo-bottle-img' }}
                <div class="bottle-text">
                    <p class="bottle-name"><strong>Multi Vitamins x150</strong></p>
                    <p class="bottle-properties">Oraganic, Immune, Health Tablet</p>
                    {{ 'stars.svg' | asset_url | img_tag: '5 star rating','stars-img' }}
                </div>
            </div>
        </div>
        <div class="buy-btn-container">
            <button class="buy-btn purple">BUY NOW</button>
        </div>
    </div>
</section>