<div class="header-logos">
  {{ 'combo-shot-logo.svg' | asset_url | img_tag: 'combo shot logo','combo-shot-logo' }}
  {{ 'trustpilot-rating.svg' | asset_url | img_tag: 'trustpilot rating','trustpilot-rating' }}
 </div>
  <div class="premium-care-hero-section">
    <div class="hero-left">
      <div class="premium-header">
        <h1 class="premium-title">PREMIUM PACKAGE</h1>
        <p class="premium-price"><strong>From £79.98 per month</strong></p>
      </div>
      <p class="premium-text">
        Our incredible premium package gives you the beauty of <strong>Collagen V12</strong> 
        with the daily <strong>joint support</strong> serum and our <strong>health boosting vitamins</strong> 
        for an all round premium daily package, keeping you <strong>healthy beautiful and young.</strong>
      </p>
      <div class="collagen-type-container">
        <div class="collagen-type">
          <div class="collagen-type">
            <button class="collagen-type-btn blue p-one-year">1 YEAR</button>
          </div>
          <div class="collagen-type">
            <button class="collagen-type-btn blue p-six-months">6 MONTHS</button>
          </div>
          <div class="collagen-type">
            <button class="collagen-type-btn blue p-three-months">3 MONTHS</button>
          </div>
          <div class="collagen-type">
            <button class="collagen-type-btn blue p-one-month">1 MONTH</button>
          </div>
      </div>
      <button class="buy-btn blue premium-buy-btn">BUY NOW</button>
    </div>
  </div>