<section id="ultravitamin-one-shot">
    <div class="border-container">
        <div class="one-shot-container">
            <h3 class="one-shot-container-header">
                One shot. All the benefits.
            </h3>
            <p>
                Power up your defences from one 15 ml capful per day
            </p>

            <div class="one-shot-container-grid">
                <div class="one-shot-container-grid-1">
                    <img src="{{'icon-wall.png' | asset_img_url: ''}}" alt="one-shot-img-1">
                    <p>
                        Build up defence in the innate and adaptive immune system wall
                    </p> 
                </div>
                <div class="one-shot-container-grid-2">
                    <img src="{{'icon-shield.png' | asset_img_url: ''}}" alt="one-shot-img-2">
                    <p>
                        Protect against chronic disease (type II diabetes)
                    </p>
                </div>
                <div class="one-shot-container-grid-3">
                    <img src="{{'icon-bloodcell.png' | asset_img_url: ''}}" alt="one-shot-img-3">
                    <p>
                        Maintain healthy red and white blood cells, vessels and bones.
                    </p>
                </div>
                <div class="one-shot-container-grid-4">
                    <img src="{{'icon-heart-in-hand.png' | asset_img_url: ''}}" alt="one-shot-img-4">
                    <p>
                        Help towards your mental and physical wellbeing.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>