<section id="ultravitamin-plant-power">
    <div class="border-container">
        <div class="plant-power-container">
            <h3 class="plant-power-container-header">
                the plant-based power is in your hands
            </h3>
            <p>
                Not only will Ultra Vitamin+ defend the immune system, it also contains essential herbal amino acids to help your mental and physical well being.
            </p>

            <div class="plant-power-container-info">
                <ul>
                    <li><span>Ginseng: &nbsp;</span>Fight fatigue and boost energy</li>
                    <li><span>Broccoli: &nbsp;</span>Linked to lowering the risk of cancer</li>
                    <li><span>Aloe Vera: &nbsp;</span>Detox and stay hydrated</li>
                    <li><span>Ashwagandha:&nbsp;</span>Reduce anxiety and stress</li>
                    <li><span>Green Tea: &nbsp;</span>Reduce oxidative stress</li>
                    <li><span>Spirulina:&nbsp;</span>Known to lower the risk of heart disease.</li>
                    <li><span>Alfalfa:&nbsp;</span>Can lower Cholesterol</li>
                    <li><span>Grape seed:  &nbsp;</span>Aid towards reducing blood pressure</li>
                </ul>
            </div>
        </div>
    </div>
</section>