<body>
    {% section '1-Combo-hero-home'%}
    {% section '1-Combo-all-packages'%}
    {% section '1-Combo-all-bottles'%}
    {% section '1-Combo-review-section'%}
    {% section '1-Combo-footer-section'%}
</body>
