<body onunload="">
    {% include '1-header' %}
    {% section 'combo-what-is-combo-hero'%}
    {% section 'combo-why-start-drinking'%}
    {% section 'combo-what-makes-better'%}
    {% section 'footer'%}
</body>