<body>
    {% section 'combo-hero-bronze'%}
    {% section 'combo-info-section-bronze'%}
    {% section 'combo-bottles-section-bronze'%}
    {% section 'combo-review-section'%}
    {% section 'combo-footer-section'%}
</body>