<body onunload="">
  {% include '1-header' %}
  <div class="choose-package">
    {% section '1-Combo-all-packages' %}
    {% section '1-Combo-all-bottles'%}
  </div>
  {% section '1-Combo-footer-section'%}
</body>