<body>
    {% section 'combo-hero-gold'%}
    {% section 'combo-info-section-gold'%}
    {% section 'combo-bottles-section-gold'%}
    {% section 'combo-review-section'%}
    {% section 'combo-footer-section'%}
</body>