<body>
  {% section 'combo-hero-premium'%}
  {% section 'combo-info-section-premium'%}
  {% section 'combo-bottles-section-premium'%}
  {% section 'combo-review-section'%}
  {% section 'combo-footer-section'%}
</body>