<body>
  <div class="bronze-package">
    {% section 'combo-hero-bronze'%}
    {% section 'combo-info-section-bronze'%}
    {% section 'combo-bottles-section-bronze'%}
  </div>

  <div class="premium-package">
    {% section 'combo-hero-premium'%}
    {% section 'combo-info-section-premium'%}
    {% section 'combo-bottles-section-premium'%}
  </div>

  <div class="gold-package">
    {% section 'combo-hero-gold'%}
    {% section 'combo-info-section-gold'%}
    {% section 'combo-bottles-section-gold'%}
  </div>

  {% section 'combo-review-section'%}
  {% section 'combo-footer-section'%}
</body>