<body>
  {% section 'combo-hero-home'%}
  {% section 'combo-all-packages'%}
  {% section 'combo-bottles-section-premium'%}
  {% section 'combo-review-section'%}
  {% section 'combo-footer-section'%}
</body>