<body>
  <div class="joint-package">
    {% section 'combo-hero-joint'%}
    {% section 'combo-info-section-joint'%}
    {% section 'combo-bottles-section-joint'%}
  </div>

  <div class="premium-package">
    {% section 'combo-hero-premium'%}
    {% section 'combo-info-section-premium'%}
    {% section 'combo-bottles-section-premium'%}
  </div>

  <div class="collagen-package">
    {% section 'combo-hero-collagen'%}
    {% section 'combo-info-section-collagen'%}
    {% section 'combo-bottles-section-collagen'%}
  </div>

  {% section 'combo-review-section'%}
  {% section 'combo-footer-section'%}
</body>