#about {
  padding: 0 clamp(20px, 10vw, 125px);
  margin-top: 75px;

  .about {
    &-header {
      margin-bottom: 55px;

    }
    &-content {
      .fact {
        margin-bottom: 45px;

        p {
          font-family: "Open Sans";
          font-weight: 400;
          font-size: 16px;
          color: #000000;

          &:first-of-type {
            font-weight: 600;
          }
        }
      }
    }
  }

  .button-container {
    .theme-button {
      width: 100%;
      max-width: 350px;
      font-size: clamp(16px, 3vw, 18px);
    }
  }
}
