.footer-section {
  width: 100%;
  height: 300px;
  background-color: #f5f5f5;
  display: flex;
  flex-direction: column;
}

.footer-logo-container {
  width: 100%;
  padding-top: 70px;
  display: flex;
  justify-content: center;
}

.footer-social-links {
  width: 100%;
  margin-top: 50px;
  display: flex;
  justify-content: center;
}
.social-icons {
  margin: 0 30px;
}

.footer-other-links {
  padding: 10px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-content: center;

  p {
    color: black;
    font-weight: 400;
    span {
      font-weight: 900;
    }
  }

  .trustpilot-footer {
    margin-right: 10px;
  }
}

@media screen and (max-width: 360px) {
  .footer-other-links {
    flex-direction: column;
    p {
      text-align: center;
      margin-top: 10px;
    }
  }
}
