header {
  &.header {
    display: flex;
    justify-content: space-between;
    padding: 25px 15px;
    padding: 25px clamp(15px, 6vw, 125px);
    position: relative;
    z-index: 10;

    .all_products {
      display: flex;
      align-items: center;
      margin-left: auto;
      margin-right: 30px;
      a {
        font-size: 20px;
        color: #525252;
      }
    }
    &.light {
      .all_products {
        a {
          color: #fff;
        }
      }
    }
  }
}
