.shape {
  &::after {
    content: "";
    position: absolute;
    left: 0;
    top: -90px;
    height: 1050px;
    width: 100%;
    background: url(#{'{{"hero-shape.svg"}}'});
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 0;
  }
}

.home-hero {
  position: relative;
  display: flex;
  width: 100%;
  z-index: 10;
  padding: 0 clamp(20px, 10vw, 125px);
  margin-top: 120px;
  margin-bottom: 250px;

  &-left {
    flex-basis: 45%;
    padding-top: 50px;
    padding-right: 10px;

    .home-text {
      font-family: "Open Sans";
      font-size: 17px;
      color: #ffffff;
      strong {
        font-weight: 600;
      }
    }

    .home-header {
      .home-title {
        font-family: "Magallanes";
        font-style: normal;
        font-weight: 500;
        font-size: 28px;
        margin-bottom: 0;
        color: #f5f5f5;
      }
      .home-text {
        margin-bottom: 40px;
      }
    }
  }

  &-right {
    display: flex;
    flex-basis: 65%;
  }
  .img-container {
    right: -40px;
    position: absolute;
  }
}

.products-section {
  min-height: 750px;
  .all-packages {
    &-title {
      font-family: "Magallanes";
      font-weight: 500;
      font-size: 34px;
      text-align: center;
      color: #525252;
    }
    &-sub-text {
      text-align: center;
      font-family: Open Sans;
      font-size: 18px;
      text-align: center;
      color: #525252;
      span {
        display: block;
      }
    }
    &-container {
      max-width: 1250px;
      margin: 0 auto;
      padding: 0 25px;
      margin-top: 45px;
      display: flex;
      justify-content: space-around;
      flex-wrap: wrap;
    }
  }
  .package-card {
    min-width: 250px;
    display: flex;
    flex-direction: column;
    margin-top: 50px;

    .title {
      // background-color: blue;
      max-width: 300px;

      p {
        position: relative;
        font-family: "Open Sans";
        font-weight: 600;
        font-size: 20px;
        margin: 5px;
        color: #636363;

        &:last-of-type {
          font-size: 16px;
          display: block;
          font-weight: 400;
        }
        &.starts {
          &::after {
            content: "";
            position: absolute;
            background: url(#{'{{"stars.svg"}}'});
            height: 15px;
            width: 88px;
            margin-left: 10px;
            top: 7px;
          }
        }
      }
    }

    .card-footer {
      margin-top: auto;
    }

    .large {
      margin-top: 10px;
      width: 90%;
      padding: 5px;
      font-size: 16px;
    }

    .price {
      padding-top: 25px;
      p {
        font-family: "Open Sans";
        font-style: normal;
        font-weight: 600;
        font-size: 18px;
        color: #3676a8;
        text-align: center;
        width: 100%;
      }
    }
  }
}

.all-bottles {
  max-width: 1250px;
  margin: 0 auto;
  padding: 0 25px;
  margin-top: 45px;
  .bottles-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
  }
  .bottle-card {
    width: 310px;
    display: flex;
    flex-direction: column;
    margin-top: 50px;

    &-img {
      position: relative;

      &:hover {
        .overlay-bottle {
          z-index: 0;
          opacity: 1;
        }
      }

      .overlay-bottle {
        position: absolute;
        height: 95%;
        width: 100%;
        background-color: rgba(255, 255, 255, 0.65);
        padding: 35px;
        opacity: 0;
        z-index: -1;
        transition: opacity 1s;
        p {
          font-size: 16px;
          line-height: 18px;

          &:first-of-type {
            font-weight: 700;
          }
        }
      }

      img {
        width: 245px;
        height: 425px;
      }
    }

    &-info {
      margin-top: -20px;
      p {
        font-family: "Open Sans";
        line-height: 1;
        margin: 0;
        font-size: 18px;
        &.tags {
          margin: 5px 0 10px;
          font-family: "Open Sans";
          font-size: 16px;
          color: #b1b1b1;
        }
      }
    }
  }
}

.button-container {
  margin: 75px 0;
  .theme-button {
    margin: 0 auto;
    width: 320px;
  }
}

.reviews-section {
  background-color: #fff;
  min-height: 500px;
  padding: 95px 0 20px 0;

  h2 {
    font-family: "Magallanes";
    text-align: center;
    margin-bottom: 55px;
    font-weight: 500;
    font-size: 34px;

    color: #000000;
  }

  .slick-container {
    width: 80%;
    max-width: 1024px;
    margin: 0 auto;
  }

  .review {
    width: 305px;
    height: 200px;
    background: #f5f5f5;
    border-radius: 10px;
    margin-right: 20px;
    color: white;
    text-align: center;
  }
  .trust-line {
    margin-top: 25px;
    display: flex;
    justify-content: center;
  }
}
