.modal-overlay {
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: #2c75bf73;
  top: 0;
  z-index: 1000;

  .modal-container {
    height: 100%;
    width: 100%;
    position: fixed;
    background: #fff;
    max-width: 350px;
    max-height: 350px;
    border-radius: 20px;
    box-shadow: 1px 1px 10px 2px #3476b0af;
    left: 50vw;
    top: 50vh;
    transform: translate(-50%, -50%);
    padding: 20px;
  }
}
