.product-hero {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: left 70%;
  height: 850px;
}

.direct-checkout {
  max-width: 580px;
  width: 100%;
  padding: 0 clamp(15px, 6vw, 125px);

  &-header {
    max-width: 450px;
    margin-top: clamp(2px, 6vw, 100px);
    h1 {
      font-family: "Magallanes";
      font-weight: 600;
      font-size: 28px;
      color: #3276af;
      text-transform: uppercase;
      margin-bottom: 5px;
    }
    p {
      color: #515151;
      font-family: "Open Sans";

      &.from_price {
        font-family: "Magallanes";
        font-weight: 600;
        font-size: 18px;
      }
    }
  }
  &-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 0;
    .checkout-button {
      &.single-month {
        .month-price:after {
          display: none;
        }
        span {
          display: none;
          &.single {
            display: inline;
          }
        }
      }

      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 380px;
      min-height: 50px;
      background: #ffffff;
      border: 1px solid #4a4a4a;
      border-radius: 10px;
      margin-bottom: 8px;
      padding: 8px 15px;
      .price_info {
        flex: 1;
        max-width: 215px;
        .single {
          display: none;
        }
        .cross {
          text-decoration: line-through;
        }
      }
      .month-price {
        font-family: "Open Sans";
        font-weight: 600;
        font-size: 16px;
        text-align: center;
        margin: 0;
        position: relative;
        color: #4a4a4a;
        &:after {
          content: "per month";
          font-size: 10px;
          position: absolute;
          left: 0;
          bottom: -8px;
        }
      }
    }
  }
}

.product-info {
  position: relative;
  padding: 0 clamp(10px, 6vw, 60px);
  min-height: 750px;
  &-header {
    padding-top: 55px;
    h2 {
      font-family: Magallanes;
      font-weight: 600;
      font-size: 34px;
      color: #ffffff;
      text-align: center;
    }
    .products-names {
      display: flex;
      justify-content: center;
      align-items: center;
      p {
        font-family: "Magallanes";
        font-weight: 600;
        font-size: 14px;
        color: #ffffff;
        margin: 0 10px;
        text-transform: uppercase;
        &.actual {
          font-size: 22px;
          order: 2 !important;
        }
      }
    }
  }
  &-body {
    display: flex;
    flex-wrap: wrap-reverse;
    justify-content: center;
    max-width: 1200px;
    margin: 0 auto;

    div {
      flex: 1;
      width: 100%;
      min-width: 500px;

      &.img-container {
        min-height: 500px;
        position: relative;
        .info-img {
          position: absolute;
          height: 100%;
          width: 100%;
          top: -15px;
          background-size: contain;
          background-repeat: no-repeat;
          transform: scale(1.2);
          right: 10px;
        }
      }
      &.content {
        padding: 50px 25px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        h2 {
          font-family: "Magallanes";
          font-weight: 600;
          font-size: 22px;
          color: #ffffff;
        }
        p {
          font-family: "Open Sans";
          font-size: 16px;
          color: #ffffff;
          margin-bottom: 35px;
          max-width: 475px;
        }
      }
    }
  }
}

#bronze-package {
  .product-info {
    background: url(#{'{{"bronze-pack-shape.svg"}}'});
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom center;
  }
  #collagen-bottle {
    display: none;
  }
  h1 {
    color: #e9c546;
  }
}

#gold-package {
  .product-info {
    background: url(#{'{{"gold-pack-shape.svg"}}'});
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom center;
  }
  #joint-bottle {
    display: none;
  }
  h1 {
    color: #6241bb;
  }
}

#premium-package {
  .product-info {
    background: url(#{'{{"premiun-pack-shape.svg"}}'});
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom center;
  }
}
