#questions {
  margin-top: clamp(1px, 3vw, 75px);
  .question {
    &-header {
      margin-bottom: clamp(15px, 3vw, 45px);
      h1 {
        text-align: center;
        font-family: "Magallanes";
        font-weight: 600;
        font-size: clamp(23px, 3vw, 28px);
        color: #3476b0;
        text-transform: uppercase;
      }
      p {
        font-family: "Open Sans";
        font-size: 18;
        text-align: center;
        color: #525252;
      }
    }
  }

  .step-container {
    margin: 0 auto;
    margin-top: 40px;
    max-width: 750px;
    .step-question {
      p {
        font-family: "Open Sans";
        font-size: 21px;
        text-align: center;
        color: #525252;
        margin-bottom: 45px;
      }

      ul {
        display: flex;
        justify-content: space-evenly;
        margin-bottom: 20px;
        margin-top: -20px;
        flex-wrap: wrap;
        li {
          position: relative;
          font-family: "Open Sans";
          font-size: 16px;
          padding-left: 40px;
          margin-top: 15px;

          &:before {
            position: absolute;
            content: "";
            width: 25px;
            height: 25px;
            background-image: url(green-tick.svg);
            background-size: cover;
            left: 0px;
            top: 0;
          }
        }
      }
    }

    .step-awnser {
      display: flex;
      justify-content: center;

      button {
        outline: transparent;
        width: 165px;
        height: 37px;
        margin: 15px;
        border: none;
        background: #ffffff;
        border: 1px solid #4a4a4a;
        font-family: "Open Sans";
        font-weight: 600;
        font-size: 18px;
        color: #4a4a4a;
        border-radius: 10px;
        text-transform: uppercase;
        transition: all 0.4s;
        &:focus {
          outline: transparent;
        }

        &.button_clicked {
          background-color: #3476b0;
          box-shadow: 1px 1px 10px 2px #3476b0af;
          border-color: #fff;
          color: #fff;
        }

        &:hover {
          background-color: #3476b0;
          transform: translateY(-2px);
          box-shadow: 1px 1px 10px 2px #3476b0af;
          border-color: #fff;
          color: #fff;
        }
      }
    }
  }
}

@media screen and (max-width: 750px) {
  #questions .step-container .step-question {
    .step-3 {
      p {
        margin-bottom: 0;
      }
    }
    ul {
      display: flex;
      flex-direction: column;
      margin-bottom: 20px;
      margin-top: -20px;
      width: -webkit-fit-content;
      width: -moz-fit-content;
      width: fit-content;
      margin: 0 auto;
    }
  }
}
