#steps {
  &.steps-progress {
    width: 100%;
    max-width: 750px;
    display: flex;
    align-items: flex-start;
    flex-direction: row;
    justify-content: space-between;
    margin: 15px auto;
    .single-step {
      position: relative;
      width: 33%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      font-family: "Open Sans";
      font-size: 30px;
      color: #000;

      &:not(:last-child):before {
        content: "";
        width: 100%;
        position: absolute;
        height: 5px;
        background-color: #fff;
        top: 28px;
        left: 50%;
        z-index: 1;
      }

      &:not(:last-child):after {
        content: "";
        width: 0;
        position: absolute;
        height: 5px;
        background: rgb(0, 0, 0);
        background: #3476b0;
        top: 28px;
        left: 50%;
        z-index: 1;
        transition: all 0.5s;
      }

      &.current-step {
        .step-number {
          background: #3476b0;
          -webkit-animation: grow 0.5s ease-in-out 0.25s;
          animation: grow 0.5s ease-in-out 0.25s;
        }
        p {
          color: #ffffff;
        }
      }

      &.step-completed {
        &::after {
          width: 100% !important;
        }
      }
      .step-number {
        position: relative;
        margin: 0 auto;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        height: 60px;
        width: 60px;
        background-color: #fff;
        transition: all 0.5s;
        z-index: 2;
      }
    }
  }
}

@-webkit-keyframes grow {
}

@keyframes grow {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.45);
  }
  100% {
    transform: scale(1);
  }
}
