#ultravitamin-hero{
    padding: 0 clamp(15px, 6vw, 125px);
    padding-top: 200px;
    padding-bottom: 200px;

    font-family: Open Sans;
    font-size: 18px;
    color: #525252;

    background: url(ultravitamin-hero.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

    position: relative;
    display: flex;
    align-items: center;

    .border-container{
        max-width: 1800px;
        margin: 0 auto;
    }

    .ultravitamin-container{
        width: 55%;
        display: flex;
        align-items: flex-start;
        justify-content: center;
        flex-direction: column;

        &-header{
            margin-bottom: 50px;
            font-family: "Magallanes";
            font-weight: 600;
            font-size: clamp(21px, 3vw, 28px);     
            text-transform: uppercase;
    
            span{
                color: #EB75BC;
                font-weight: bold;
            }
        }
    }
}

////////////////////////////////////////////////////////////////////////////

//////////////////////      ***NEW SECTION**      /////////////////////////

////////////////////////////////////////////////////////////////////////////


#ultravitamin-strength{
    padding: 0 clamp(15px, 6vw, 125px);
    padding-top: 125px;
    padding-bottom: 125px;
    text-align: center;
    position: relative;

    z-index: 1;

    &::after{
        content:url(blue-wave.png);
        width: auto;
        top: 20%;
        left: 0;
        height: 200px;

        position: absolute;
        display: inline-block;
        transform: scaleX(1.3), scaleY(1.3);
        opacity: .1;

        z-index: -500;
    }

    &::before{
        content:url(science-chem-bond.png);
        width: 30px;
        top: 45%;
        left: 0%;
        
        position: absolute;
        display: inline-block;
        transform: translate(-50%, -50);
        transform: scale(.7);

        z-index: -500;
    }

    .border-container{
        max-width: 1800px;
        margin: 0 auto;

        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .ultravitamin-strength-container{
        display: flex;
        width: 100%;
        flex-wrap: wrap;
        text-align: left;
        &-1,
        &-2,
        &-3,
        &-4{
            width: 50%;
            margin: 50px 0;
            h3{
                margin-bottom: 50px;
                font-family: "Magallanes";
                font-weight: 600;
                font-size: clamp(21px, 3vw, 28px);     
                text-transform: uppercase;
            }

            img{
                width: 250px;
                height: auto;
                margin: 0 auto;
                display: block;
            }
        }

        &-2{
            text-align: center;
            padding: 0px 100px 50px 100px;
            font-weight: 600;
            font-size: clamp(18px, 3vw, 20px);
            font-family: "Magallanes";
            text-transform: uppercase;

            p::after,
            p::before{
                content: url(quote.svg);
                display: inline-block;
                width: 100%;
            }

            p::before{
                text-align: left;
            }

            p::after{
                transform: scaleX(-1);
                text-align: left;
            }
        }

        &-3{
            ul {
                list-style:circle;
                display: flex;
                flex-wrap: wrap;
                justify-content: space-between;
                li{
                    display: flex;
                    align-items: center;
                    font-weight: 500;
                    font-size: 0.95em;
                }
              }
              
            ul li::before {
                content: "\2022" !important;
                color: #006FBC;
                font-weight: bold; 
                font-size: 2.5em;
                display: inline-block;
                height: auto;
                margin-right: 15px;
            }
        }
    }
}

////////////////////////////////////////////////////////////////////////////

//////////////////////      ***NEW SECTION**      /////////////////////////

////////////////////////////////////////////////////////////////////////////

#ultravitamin-one-shot{
    padding: 0 clamp(15px, 6vw, 125px);
    padding-bottom: 125px;
    text-align: center;
    position: relative;
    .border-container{
        max-width: 1800px;
        margin: 0 auto;
    }

    .one-shot-container{
        &-header{
            margin-bottom: 25px;
            font-family: "Magallanes";
            font-weight: 600;
            font-size: clamp(21px, 3vw, 28px);     
            text-transform: uppercase;
        }

        &-grid{
            margin-top: 75px;
            display: flex;

            img{
                height: 125px;
                width: auto;
            }

            &-1,
            &-2,
            &-3,
            &-4{
                padding: 30px;
                p{
                    margin-top: 40px;
                }
            }
        }
    }
}

////////////////////////////////////////////////////////////////////////////

//////////////////////      ***NEW SECTION**      /////////////////////////

////////////////////////////////////////////////////////////////////////////

#ultravitamin-fruitful{
    padding: 0 clamp(15px, 6vw, 125px);
    padding-bottom: 125px;
    text-align: center;
    position: relative;

    background: url(fruitful-bg-new.png);
    background-position:right;
    background-size: 500px auto;
    background-repeat: no-repeat;

    .border-container{
        max-width: 1800px;
        margin: 0 auto;
    }

    .fruitful-container{
        &-header{
            margin-bottom: 25px;
            font-family: "Magallanes";
            font-weight: 600;
            font-size: clamp(21px, 3vw, 28px);     
            text-transform: uppercase;
        }
        &-info{
            width: 60%;
            margin-top: 80px;

            ul {
                list-style:circle;
                display: flex;
                flex-wrap: wrap;
                justify-content: space-between;
                li{
                    display: flex;
                    align-items: center;
                    font-weight: 500;
                    font-size: 0.95em;
                    width:50%;
                    span{
                        font-weight: bold;
                    }
                }
              }
              
            ul li::before {
                content: "\2022" !important;
                color: #006FBC;
                font-weight: bold; 
                font-size: 2.5em;
                display: inline-block;
                height: auto;
                margin-right: 15px;
            }
        }
    }

    .btn-container{
        margin: 100px auto 0 auto;
        display: inline-block;
    }
}

////////////////////////////////////////////////////////////////////////////

//////////////////////      ***NEW SECTION**      /////////////////////////

////////////////////////////////////////////////////////////////////////////

#ultravitamin-plant-power{
    height: auto;
    padding: 0 clamp(15px, 6vw, 125px);
    padding-bottom: 125px;
    text-align: center;
    position: relative;

    background: url(plant-power-bg.png);
    background-position:left;
    background-size: 500px auto;
    background-repeat: no-repeat;

    .border-container{
        max-width: 1800px;
        margin: 0 auto;
    }

    .plant-power-container{
        &-header{
            margin-bottom: 25px;
            font-family: "Magallanes";
            font-weight: 600;
            font-size: clamp(21px, 3vw, 28px);     
            text-transform: uppercase;
        }
        &-info{
            width: 60%;
            margin-top: 80px;
            margin-left: 40%;

            ul {
                list-style:circle;
                display: flex;
                flex-wrap: wrap;
                justify-content: space-between;
                li{
                    display: flex;
                    align-items: center;
                    font-weight: 500;
                    font-size: 0.95em;
                    width:50%;
                    span{
                        font-weight: bold;
                    }
                }
              }
              
            ul li::before {
                content: "\2022" !important;
                color: #006FBC;
                font-weight: bold; 
                font-size: 2.5em;
                display: inline-block;
                height: auto;
                margin-right: 15px;
            }
        }
    }

    .btn-container{
        margin: 100px auto 0 auto;
        display: inline-block;
    }
}

////////////////////////////////////////////////////////////////////////////

//////////////////////      ***NEW SECTION**      /////////////////////////

////////////////////////////////////////////////////////////////////////////


#ultravitamin-recharge{
    padding-top: 200px;
    text-align: center;
    position: relative;

    border-bottom: 1px solid #e5e5e5;
    z-index: 1;

    &::after{
        content:url(blue-wave.png);
        width: auto;
        top: -10%;
        left: 0;
        height: 200px;

        position: absolute;
        display: inline-block;
        transform: scaleX(1.3), scaleY(1.3);
        opacity: .1;

        z-index: -500;
    }

    &::before{
        content:url(science-chem-bond.png);
        width: 30px;
        top: 25%;
        left: 0%;
        
        position: absolute;
        display: inline-block;
        transform: translate(-50%, -50);
        transform: scale(.7);

        z-index: -500;
    }

    .border-container{
        max-width: 1800px;
        margin: 0 auto;

        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .recharge-container{
        &-info-1{
            margin-bottom: 50px;
            text-align: left;
            display: flex;
            img{
                margin: 0 auto;
                width: 200px;
                height: auto;
            }
            div{
                width: 60%;
            }
            h2{
                margin-bottom: 25px;
                font-family: "Magallanes";
                font-weight: 600;
                font-size: clamp(21px, 3vw, 28px);     
                text-transform: uppercase;
            }
            ul {
                list-style:circle;
                display: flex;
                flex-wrap: wrap;
                justify-content: space-between;
                li{
                    display: flex;
                    align-items: center;
                    font-weight: 500;
                    font-size: 0.95em;
                    span{
                        font-weight: bold;
                    }
                }
            }
            ul li::before {
                content: "\2022" !important;
                color: #006FBC;
                font-weight: bold; 
                font-size: 2.5em;
                display: inline-block;
                height: auto;
                margin-right: 15px;
            }
        }

        &-info-2{
            width: 60%;
            margin: 0 auto;
            display: block;
            h2{
                margin-top: 100px;
                margin-bottom: 25px;
                font-family: "Magallanes";
                font-weight: 600;
                font-size: clamp(21px, 3vw, 28px);     
                text-transform: uppercase;
            }
            p{
                text-align: left;
            }
            .btn-container{
                margin: 0 auto;
                display: inline-block;
            }
        }
    }
}