#what-is-combo-hero{
    padding: 0 clamp(15px, 6vw, 125px);
    padding-top: 200px;
    padding-bottom: 160px;

    font-family: Open Sans;
    font-size: 18px;
    color: #525252;

    background: url(WIC-hero-crop.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

    position: relative;
    display: flex;
    align-items: center;

    .border-container{
        max-width: 1800px;
        margin: 0 auto;
    }

    .what-is-container{
        width: 55%;
        display: flex;
        align-items: flex-start;
        justify-content: center;
        flex-direction: column;

        &-header{
            font-family: "Magallanes";
            font-weight: 600;
            font-size: clamp(21px, 3vw, 28px);     
            text-transform: uppercase;
    
            span{
                color: #EB75BC;
                font-weight: bold;
            }
        }
    
        &-list {
            list-style:circle;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            li{
                display: flex;
                align-items: center;
                font-weight: bold;
                font-size: 0.95em;
            }
          }
          
        &-list li::before {
            content: "\2022" !important;
            color: #EB75BC;
            font-weight: bold; 
            font-size: 2.5em;
            display: inline-block;
            height: auto;
        }
    
        &-text-body{
            color: black;
        }
    }

    .border-ellipse{
        width: 150px;
        height: 150px;

        clip-path: circle(50% at 50% 50%);
        background-color:#f5f5f5;

        position: absolute;
        top: 100%;
        left: 50%;
        transform: translate(-50%, -50%);

        display: flex;
        justify-content: center;

        &::after{
            content: url(pink-arrow-down.svg);
            padding-top: 25px;
            display: inline-block;
            text-align: center;
        }
    }
}

////////////////////////////////////////////////////////////////////////////

//////////////////////      ***NEW SECTION**      /////////////////////////

////////////////////////////////////////////////////////////////////////////


#why-start-drinking{
    padding: 0 clamp(15px, 6vw, 125px);
    padding-top: 125px;
    padding-bottom: 125px;
    text-align: center;
    position: relative;

    z-index: 1;

    &::after{
        content:url(blue-wave.png);
        width: auto;
        top: 20%;
        left: 0;
        height: 200px;

        position: absolute;
        display: inline-block;
        transform: scaleX(1.3), scaleY(1.3);
        opacity: .1;

        z-index: -500;
    }

    &::before{
        content:url(science-chem-bond.png);
        width: 30px;
        top: 45%;
        left: 0%;
        
        position: absolute;
        display: inline-block;
        transform: translate(-50%, -50);
        transform: scale(.7);

        z-index: -500;
    }

    .border-container{
        max-width: 1800px;
        margin: 0 auto;

        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .why-start-header{
        font-family: "Magallanes";
        font-weight: 600;
        font-size: clamp(21px, 3vw, 28px);     
        text-transform: uppercase;
    }

    .swap-me-container{
        margin: 40px auto 0 auto;
        display: inline-block;
        flex-direction: column;
        justify-content: center;
        text-transform: uppercase;

        z-index: 1000;

        &-text{
            display: flex;
            justify-content: center;
            p{
                text-align: center;
                font-size: 1em;
                font-weight: bold;
                margin: 0 auto 10px auto;
                display: inline-block;
                position: relative;

                &::after{
                    content: url(border-arrows.svg);
                    position:absolute;
                    left: -175%;
                }
            }
        }

        #btn-active-joint{
            background-color: #3276af;
            color: white;
            border-radius: 50px;
        }
        #btn-active-collagen{
            background-color: #6241BB;
            color: white;
            border-radius: 50px;
        }

        &-btn{
            width: auto;
            color: white;
            font-family: 'Magallanes';
            display: flex;
            justify-content: center;

            button{
                width: 200px; 
                padding: 10px 15px;

                font-size: 1.2em;
                font-weight: 600;

                border-radius: 50px;

                outline:none;
                height: 100%;

                &:first-of-type{
                    color: #6241BB;
                    background-color: transparent;
                    border: none;
                    position: relative;
                    &::after{
                        content: "";
                        height: 100%;
                        width: 100%;
                        top: 0;
                        left: 0;
                        border-radius: 50px;
                        border: 1px solid #6241BB;
                        position: absolute;
                        display: block;
                        border-top-right-radius: 0;
                        border-bottom-right-radius: 0;
                        border-right: none;
                        background-color: transparent;
                    }
                }
                &:nth-of-type(2){
                    color: #3276af;
                    background-color: transparent;
                    position: relative;
                    border: none;
                    &::after{
                        content: "";
                        height: 100%;
                        width: 100%;
                        top: 0;
                        left: 0;
                        border-radius: 50px;
                        border: 1px solid #3276af;
                        position: absolute;
                        display: block;
                        border-top-left-radius: 0;
                        border-bottom-left-radius: 0;
                        border-left: none;
                        background-color: transparent;
                    }
                }
            
            }
        }
    }

    #toggle{
        display: flex;
    }

    .collagen-info{
        margin: 100px auto 0 auto;
        align-items: stretch;
        text-align: left;
        display: none;


        h3{
            font-family: 'Magallanes';
            text-transform: uppercase;
            span{
                color: #6241BB;
            }
        }

        &-1,
        &-2{
            padding: 0 10px;
            width: 50%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;

            img{
                margin: 0 auto;
                width: 80%;
                height: auto;
                opacity: 1;
                z-index: 1000;
            }

            ul {
                list-style:circle;
                display: flex;
                flex-wrap: wrap;
                justify-content: space-between;
                li{
                    display: flex;
                    align-items: center;
                }
              }
              
            ul li::before {
                content: "\2022" !important;
                color: #6241BB;
                font-size: 3em;
                display: inline-block;
                height: auto;
                margin-right: 10px;
            }
        }
    }

    .joint-info{
        margin: 100px auto 0 auto;
        align-items: stretch;
        text-align: left;
        display: none;

        h3{
            font-family: 'Magallanes';
            text-transform: uppercase;
            span{
                color: #3276af;
            }
        }

        &-1,
        &-2{
            padding: 0 10px;
            width: 50%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;

            img{
                margin: 0 auto;
                width: 80%;
                height: auto;
                opacity: 1;
                z-index: 1000;
            }

            ul {
                list-style:circle;
                display: flex;
                flex-wrap: wrap;
                justify-content: space-between;
                li{
                    display: flex;
                    align-items: center;
                }
              }
              
            ul li::before {
                content: "\2022" !important;
                color: #3276af;
                font-size: 3em;
                display: inline-block;
                height: auto;
                margin-right: 10px;
            }
        }
    }

    .btn-container{
        display: inline-block;
        margin: 50px auto 0 auto;
    }
}


////////////////////////////////////////////////////////////////////////////

//////////////////////      ***NEW SECTION**      /////////////////////////

////////////////////////////////////////////////////////////////////////////

#what-makes-better{
    padding: 0 clamp(15px, 6vw, 125px);
    padding-top: 75px;
    padding-bottom: 160px;

    background: url(science-chem-bond.png);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;

    .border-container{
        max-width: 1800px;
        margin: 0 auto;

        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .what-makes-better-container{
        text-align: center;

        &-header{
            font-family: "Magallanes";
            font-weight: 600;
            font-size: clamp(21px, 3vw, 28px);     
            text-transform: uppercase;
        }

        &-info{
            margin-top: 65px;
            display: flex;
            align-items: center;
            text-align: left;

            h4{
                font-size: clamp(21px, 3vw, 28px);    
                font-family: "Magallanes";
                text-transform: uppercase;
            }
            &-1{
                padding: 0 30px 30px 30px;
                h4{
                    color: #6241BB;
                }
               
            }
            &-2{
                padding: 0 30px 30px 30px;
                h4{
                    color: #3276af;
                }
            }
        }
    }
}

////////////////////////////////////////////////////////////////////////////

//////////////////////      ***NEW SECTION**      /////////////////////////

////////////////////////////////////////////////////////////////////////////

#what-does-collagen{
    padding: 0 clamp(15px, 6vw, 125px);
    padding-top: 75px;
    padding-bottom: 160px;

    background: url(flower-arm.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

    .border-container{
        max-width: 1800px;
        margin: 0 auto;

        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .what-does-collagen-container{
        text-align: center;
        &-header{
            font-family: "Magallanes";
            font-weight: 600;
            font-size: clamp(21px, 3vw, 28px);     
            text-transform: uppercase;
        }

        &-info{
            text-align: left;
            margin-left: 40%;
            margin-top: 100px;

            h3{
                font-size: clamp(20px, 2.5vw, 22px);  
                font-family: "Magallanes";
                text-transform: uppercase;
            }
        }
    }

    .btn-container{
        display: inline-block;
        margin: 0 auto;
    }
}

////////////////////////////////////////////////////////////////////////////

//////////////////////      ***NEW SECTION**      /////////////////////////

////////////////////////////////////////////////////////////////////////////

#three-stages{
    padding: 0 clamp(15px, 6vw, 125px);
    padding-top: 75px;
    padding-bottom: 160px;
    position: relative;
    text-align: center;

    border-bottom: 1px solid rgb(219, 217, 217);
    
    &::after{
        position: absolute;
        content: url(science-chem-bond.png);
        display: inline-block;
        top: -20%;
        left: 40%;
        transform: scaleX(-1);
    }

    .border-container{
        max-width: 1800px;
        margin: 0 auto;

        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .three-stages-container{
        &-header{
            font-family: "Magallanes";
            font-weight: 600;
            font-size: clamp(21px, 3vw, 28px);     
            text-transform: uppercase;
        }

        &-grid{
            margin-top: 100px;
            display: flex;
            align-items: center;
            justify-content: space-around;

            &-1,
            &-2,
            &-3{
                padding: 25px;
                width: 33.3333%;
            }
        }
    }
}